.contentInner {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.myTripsPageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 0 15px;
}

.headerFirstSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.backArrow {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  padding: 10px;
  width: 40px;
  height: 40px;
}

.myTripsPageTitle {
  font-family: var(--third-family), sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
  color: var(--color-text-primary);
  line-height: 150%;
}

.myTripsPageCounter {
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-medium-pl);
  font-size: var(--font-size-small);
  line-height: 133%;
  color: var(--color-bg-accent);

  border-radius: 50%;
  padding: 4px 10px;
  width: 27px;
  height: 24px;
  background: var(--color-border);
}

.createNewTripBtn {
  border: 2px dashed var(--color-bg-accent);
  border-radius: 16px;
  padding: 16px 0;
  width: 100%;
  height: 55px;

  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-main);
  color: var(--color-bg-accent);
  line-height: 143%;
  text-align: center;
  margin: 25px 0;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.modalContent {
  width: 100%;
  max-width: 440px;
  animation: modalDropIn 0.35s ease;
}

@keyframes modalDropIn {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
