.borderCountriesSectionTitle {
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-medium-pl);
  font-size: var(--font-size-main);
  color: var(--color-text-secondary);
  line-height: 133%;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.borderCountriesList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.issueDesc {
  font-family: var(--third-family), serif;
  font-weight: var(--font-weight-medium-pl);
  font-size: var(--font-size-medium);
  color: var(--color-white);
  line-height: 150%;
  letter-spacing: 0.03em;
}