.countryMetaSection {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 15px 15px 15px;
}

.countryInfoWrapper {
  display: flex;
  justify-content: space-between;
}

.countryInfoFlag img {
  height: 40px;
}

.backArrow {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  padding: 10px;
  width: 40px;
  height: 40px;
  color: var(--color-white);
}

.countryName {
  font-family: var(--third-family), sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
  line-height: 125%;
  color: var(--color-white);
}

.countryRegion {
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-medium);
  line-height: 150%;
  color: rgba(255, 255, 255, 0.5);
}



