.recentTripsTitle {
  margin-top: 20px;
  font-family: var(--third-family), serif;
  font-weight: var(--font-weight-medium-pl);
  font-size: var(--font-size-large);
  line-height: 150%;
  color: var(--color-text-primary);
  margin-bottom: 15px;
}

.recentTripsButton {
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-main);
  color: var(--color-bg-accent);
}

.recentTripsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recentTripsList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}