.menuItem {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  color: var(--color-text-secondary);
  font-size: var(--font-size-medium);
}

.menuItem.active {
  background-color: var(--color-border);
  color: var(--color-bg-accent);
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
