.mapWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  border-left: 2px solid var(--color-border);
}

.map {
  width: 95%;
  height: 95vh;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 45px;
}