.tripCardWrapper {
  border: 2px solid var(--color-border);
  background: var(--color-bg-transparent);
  border-radius: 15px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tripCardInfo {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 40px;
  gap: 15px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    top: 50%;
    right: 10px;
    left: 15px;
    transform: translateY(-50%);
    background: var(--color-sidebar);
    width: 5px;
    height: 36px;
    border-radius: 5px;
  }
}

.tripFlagsList {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.tripCardBtn {
  padding: 12px;
}

.tripCardTitle {
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-main);
  color: var(--color-text-primary);
  line-height: 143%;
}

.tripDuration {
  font-family: var(--font-family), sans-serif;
  color: var(--color-text-secondary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  line-height: 133%;
}

.tripCardDates {
  font-family: var(--font-family), sans-serif;
  color: var(--color-text-secondary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  line-height: 133%;
}

.tripCardInnerInfo {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.tripStatus {
  font-family: var(--third-family), sans-serif;
  font-weight: var(--font-weight-medium-pl);
  font-size: var(--font-size-small);
  line-height: 150%;
  letter-spacing: 0.05em;
  border-radius: 25px;
  width: 60px;
  height: 20px;
  text-align: center;
}

.current {
  color: #fbbf24;
  background: rgba(251, 191, 36, 0.12);
}

.past {
  color: #9590be;
  background: rgba(149, 144, 190, 0.12);
}

.upcoming {
  color: #2dd4bf;
  background: rgba(45, 212, 191, 0.12);
}

.tripCardHeader {
  display: flex;
  gap: 10px;
}


