.popularDestinations {
  margin: 40px 0;
}

.title {
  font-family: var(--third-family), sans-serif;
  font-weight: var(--font-weight-medium-pl);
  font-size: var(--font-size-large);
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--color-text-primary);
  margin-bottom: 50px;
}

.destinationCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}