.borderCountryCard {
  border: 1px solid var(--color-border);
  background: var(--color-bg-transparent);
  border-radius: 20px;
  padding: 6px 12px;
  min-width: 81px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.borderCountryCardTitle {
  color: var(--color-text-primary);
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-main);
  line-height: 143%;
}

.borderCountryCardFlag {
  width: 20px;
}