.countriesCounter {
  font-family: var(--second-family), serif;
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-small);
  color: var(--color-text-secondary);
  line-height: 133%;
  margin-bottom: 15px;
}

.countryList {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.countriesWrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

