.contentInner {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.homePageBody {
  background-color: var(--color-bg-primary);
  color: var(--color-white);
  margin-top: 40px;
}

.homePageSubTitle {
  color: var(--color-text-secondary);
}

.homePageTitle {
  font-family: var(--third-family), serif;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
  color: var(--color-white);
  margin-bottom: 20px;
}
